{% set language = {
  "pageName":"Academic Status",
  "gpaLabelText":"GPA",
  "earnedHoursLabelText":"Earned Hours",
  "academicStandingLabelText":"Academic Standing",
  "regWindowLabelText":"Registration Window",
  "datesText":"Dates: "
} %}
