{% set utils = aek.extension("CMAuthUtilities") %}
{% set OAuthAccessToken = utils.getOAuthAccessToken() %}

{% if aek.action == "get-gpa" %}

  {% set service = aek.create_service("https://apigateway.nku.edu/studentapi/gpa") %}
  {{ service.set_method("GET") }}
  {{ service.set_header("Accept", "application/json") }}
  {{ service.set_authorization("Bearer " ~ OAuthAccessToken) }}
  {{ aek.respond(service.json) }}

{% endif %}

{% if aek.action == "get-reg-window" %}

  {% set service = aek.create_service("https://apigateway.nku.edu/studentapi/reg_window") %}
  {{ service.set_method("GET") }}
  {{ service.set_header("Accept", "application/json") }}
  {{ service.set_authorization("Bearer " ~ OAuthAccessToken) }}
  {{ aek.respond(service.json) }}

{% endif %}
