{% set _config={
  "PUBLIC":{
    "storageKey":"nku-academic-status",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "regWindowUrl":"https://mynku.nku.edu/irj/portal?NavigationTarget=ROLES://portal_content/NKUContent/com.nku.folder.roles/com.nku.pct.role.st_services/com.nku.pct.workset.st_academics/Online_Registration&NavMode=3"
  }
} %}
